In [4]:
# Step 1: Import necessary libraries
import pandas as pd

In [ ]:
# Step 2: Load the dataset
anime_series_data = pd.read_csv("Animated_Tv_Series.csv")

In [16]:
# Step 3: Display the first few rows of the dataset
anime_series_data.head()

,Id,Title,Episodes,Year,Original channel,American company,Note,Technique,IMDb,Google users
0,1,2 Stupid Dogs,26.0,1993-1995,TBS,Hanna-Barbera,NaN,Traditional,7.2,91%
1,2,3-2-1 Penguins!,27.0,2000-2008,Direct to video,Big Idea Productions,NaN,CGI,6.5,91%
2,3,3-South,13.0,2002-2003,MTV,Warner Bros. AnimationMTV Animation,NaN,Traditional,8.0,87%
3,4,3Below: Tales of Arcadia,28.0,2018-2019,Netflix,DreamWorks Animation Television,NaN,CGI,7.6,77%
4,5,3rd & Bird,51.0,2008-2010,Playhouse Disney,Little Airplane Productions,British co-production,Flash,7.8,92%

In [9]:
# Step 4: Check for missing values
missing_values = anime_series_data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Id                     0
Title                  0
Episodes              18
Year                   0
Original channel       7
American company      45
Note                1328
Technique              0
IMDb                   4
Google users           4
dtype: int64

In [13]:
# Step 5: Handle missing values

## Option 1: Remove rows with missing values
anime_series_data_cleaned = anime_series_data.dropna()

In [12]:
## Option 2: Replace missing values with a specific value
anime_series_data_cleaned = anime_series_data.fillna(0)

In [15]:
# Step 6: Verify if missing values are handled
anime_series_data_cleaned.isnull().sum()

Id                  0
Title               0
Episodes            0
Year                0
Original channel    0
American company    0
Note                0
Technique           0
IMDb                0
Google users        0
dtype: int64